{
	# Enable FrankenPHP
	frankenphp
	order php_server before file_server
}

:80 {
	# Enable compression
	encode zstd gzip

	# Set the root to the web directory where index.php lives
	root * /app/web

	# execute PHP files
	php_server

	file_server
}
