{
	frankenphp
	order php_server before file_server
	order php before file_server
}

:80 {
	encode zstd br gzip
	root * /app/web

	# Block hidden PHP files
	@hiddenPhp path_regexp \..*/.*.php$
	error @hiddenPhp 403

	# Block PHP in vendor
	@vendorPhp path_regexp /vendor/.*\.php$
	error @vendorPhp 404

	# Block PHP in files directories
	@filesPhp path_regexp ^/sites/[^/]+/files/.*\.php$
	error @filesPhp 404

	# Block private directories
	@private path_regexp ^/sites/.*/private/
	error @private 403

	# Block sensitive files (allow .well-known)
	@protected {
		not path /.well-known*
		path_regexp \.(engine|inc|install|make|module|profile|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^/(\..+|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock)|web\.config|yarn\.lock|package\.json)$|^\/#.*#$|\.php(~|\.sw[op]|\.bak|\.orig|\.save)$
	}
	error @protected 403

	# Static assets caching
	@static {
		file
		path *.avif *.css *.eot *.gif *.gz *.ico *.jpg *.jpeg *.js *.otf *.pdf *.png *.svg *.ttf *.webp *.woff *.woff2
	}
	header @static Cache-Control "public, max-age=31536000, immutable"

	php_server
}
